<div class="login">
        <div class="row">
            <div class="col-md-4"></div>
              <div class="col-md-4">
                <div class="login-title">
                     <h4 class="title">Change password</h4>
                   <div class="comments-area">
                      <form id="form-changePassword"  action='/changePassword/{{userID}}' method="post">
                          <p>
                              <label>New password</label>
                              <span>*</span>
                              <input type="password" name="password" value="">
                          </p>
                          <p>
                            <label>Confirm password</label>
                            <span>*</span>
                            <input type="password" name="password2" value="">
                          </p>
                          {{#if mess}} 
                          <p style="color: red;">{{mess}}</p>
                          {{/if}}
                          <p>
                              <input type="submit" value="Submit">
                          </p>
                      </form>
                  </div>
                </div>
              </div>
              <div class="col-md-4"></div>
              <div class="clear"></div>
        </div>
</div>
<br>
