    <%- include('./_layouts/header') %>


    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
</head>

<body>
    <%- include('./_layouts/topHeaderBody') %>

    <div class="login">
        <div class="wrap">
            <h4 class="title">Shopping cart is empty</h4>
            <p class="cart">You have no items in your shopping cart.<br>Click<a href="/"> here</a> to continue shopping</p>
        </div>
    </div>

    <%- include('./_layouts/footer') %>
</body>
</html>