<div class="login">
        <div class="row">
            <div class="col-md-4"></div>
              <div class="col-md-4">
                <div class="login-title">
                     <h4 class="title">Forget password</h4>
                   <div class="comments-area">
                      <form id="form-login"  action='/login' method="post">
                          {{#if wrongPassword}}
                          <p>Username or password incorrect</p>
                          {{/if}}
                          <p>
                              <label>Username</label>
                              <span>*</span>
                              <input type="text" name="username" value="">
                          </p>
                           <p>
                              <input type="submit" value="Confirm">
                          </p>
                      </form>
                  </div>
                </div>
              </div>
              <div class="col-md-4"></div>
              <div class="clear"></div>
        </div>
</div>
<br>



<script>
    var form = document.getElementById("form-login");
    form.action = window.location.href;
    form.method = "post";
</script>


<script>
    if({{flag}} == 1){
        alert("Account has been activated!")
    }
</script>
