<div class="login">
        <div class="row">
            <div class="col-md-4"></div>
              <div class="col-md-4">
                <div class="login-title">
                     <h4 class="title">Forget password</h4>
                   <div class="comments-area">
                      <form id="form-forget"  action='/forget' method="post">
                          <p>
                              <label>Email</label>
                              <span>*</span>
                              <input type="text" name="email" value="">
                          </p>
                          <p>
                              <label>New password</label>
                              <span>*</span>
                              <input type="password" name="password" value="">
                          </p>
                          <p>
                              <label>Confirm password</label>
                              <span>*</span>
                              <input type="password" name="password2" value="">
                          </p>
                           <p>
                              <input type="submit" value="Confirm">
                          </p>
                      </form>
                  </div>
                </div>
              </div>
              <div class="col-md-4"></div>
              <div class="clear"></div>
        </div>
</div>
<br>
