<div class="login">
        <div class="wrap">
              <div class="col_1_of_login span_1_of_login">
                  <h4 class="title">New Customers</h4>
                  <h5 class="sub_title">Register Account</h5>
                  <p>You don't have an acount, let's register now</p>
                  <div class="button1">
                     <a href="/register"><input type="submit" name="Submit" value="Register"></a>
                   </div>
                   <div class="clear"></div>
              </div>
              <div class="col_1_of_login span_1_of_login">
                <div class="login-title">
                     <h4 class="title">Registered Customers</h4>
                   <div class="comments-area">
                      <form id="form-login"  action='/login' method="post">
                          {{#if wrongPassword}}
                          <p>Username or password incorrect</p>
                          {{/if}}
                          <p>
                              <label>Username</label>
                              <span>*</span>
                              <input type="text" name="username" value="">
                          </p>
                          <p>
                              <label>Password</label>
                              <span>*</span>
                              <input type="password" name="password" value="">
                          </p>
                           <p id="login-form-remember">
                              <label><a href="#">Forget Your Password ? </a></label>
                           </p>
                           <p>
                              <input type="submit" value="Login">
                          </p>
                      </form>
                  </div>
                </div>
              </div>
              <div class="clear"></div>
        </div>
</div>
<br>



<script>
    var form = document.getElementById("form-login");
    form.action = window.location.href;
    form.method = "post";
</script>


<script>
    if({{flag}} == 1){
        alert("Account has been activated!")
        {{flag}} = 0;
    }
</script>
